:root {
  --white: #ffffff;
  --offwhite: #f8f9fa;
  --lessdarkoffwhite: #e8eaed;
  --lesslessdarkoffwhite: #e1e2e6;
  --darkoffwhite: #dadce0;
  --lightlightgrey: #bdc1c6;
  --lightgrey: #9aa0a6;
  --midgrey: #80868b;
  --grey: #707070;
  --darkgrey: #5f6368;
  --offblack: #3c4043;
  --black: #202124;
  --black-a50: rgba(0, 0, 0, 0.25);

  --blue: #1a73e8;
  --blue-a25: rgba(26, 115, 232, 0.25);
  --blue-a50: rgba(26, 115, 232, 0.5);
  --lightblue: #d7e4f4;
  --darkblue: #1458b3;

  --green: #1e8e3e;
  --red: #d93025;
  --red-a25: rgba(217, 48, 37, 0.25);
  --orange: #f9ab00;

  --twitter: #38a1f3;
  --youtube: #ff0000;
}
