:root {
  --link-color: var(--blue);
  --link-hover-color: var(--darkblue);

  --side-margin: 0.87rem;

  /* FIXME: Put breakpoint in a var */
  @media (min-width: 720px) {
    --side-margin: 4.6rem;
  }

  @media (min-width: 1920px) {
    --side-margin: calc((100vw - 1920px) / 2 + 4.6rem);
  }
}
