.unbutton {
  cursor: pointer;
  background: none;
  border: none;
  font: inherit;
  padding: 0;
  margin: 0;
  user-select: none;
}

.aspect-ratio {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: calc(1 / var(--aspect-ratio) * 100%);
}

.media-fill {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
