{%- pageStart page -%}
{%- set mainCss = "/_includes/layouts/main/style.css" -%}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="siteAsset(/assets/logo.png)">
    {# <link rel="preload" as="font" crossorigin href="siteAsset(/assets/open-sans/regular/latin.woff2)">
    <link rel="preload" as="font" crossorigin href="siteAsset(/assets/open-sans/bold/latin.woff2)"> #}
    {% css page, mainCss %}
    {% if title %}
      <title>{{title}} - {{conf.websiteName}}</title>
    {% else %}
      <title>{{conf.websiteName}}</title>
    {% endif %}

    <meta property="og:type" content="website">

    {% if title %}
      <meta property="og:title" content="{{title}} - {{conf.websiteName}}">
    {% else %}
      <meta property="og:title" content="{{conf.websiteName}}">
    {% endif %}

    {% if description %}
      <meta name="description" content="{{description}}">
      <meta property="og:description" content="{{description}}">
    {% endif %}

    {% if metaImage %}
      <meta property="og:image" content="{{conf.origin}}siteAsset({{metaImage}})">
    {% else %}
      <meta property="og:image" content="{{conf.origin}}siteAsset(/assets/social-share.jpg)">
    {% endif %}
  </head>
  <body>
    {% include 'header/index.njk' %}
    {% block content %}{{ content | safe }}{% endblock %}
    {% include 'footer/index.njk' %}
    <!-- Analytics -->
  <script>
    window.ga = function () { ga.q.push(arguments) }; ga.q = []; ga.l = +new Date;
    ga('create', 'UA-xxxxxxx-x', 'auto'); ga('set','transport','beacon'); ga('send', 'pageview')
  </script>
  <script src="https://www.google-analytics.com/analytics.js" async></script>
  </body>
</html>
