.root {
  overflow: hidden;
  position: relative;
  line-height: normal;
  background: var(--offwhite);
  padding: 4.4rem var(--side-margin);
}

.conf-detail {
  text-align: center;
  color: var(--darkgrey);
  position: relative;

  @media (min-width: 720px) {
    text-align: left;
  }
}
