---
description: Join the Chrome team for our two-day summit on the latest techniques for building the modern Web
---

{% extends 'layouts/main/index.njk' %}

{% block content %}
  {% include 'main-intro/index.njk' %}
{% endblock %}
